#About{
  letter-spacing: 0.9px;
  
}

#pic{
  position: relative;
  bottom: 142px;
  
}


#list{
  gap: 20px;
}

#image_border{
  border-right-color: transparent;
  border-bottom: none;
}

#Image{
   filter: drop-shadow(0px 0px 8px red) 
          drop-shadow(0px 0px 17px red);
  transition: filter 0.3s ease-in-out;
}
#Image:hover{
   filter: drop-shadow(0px 0px 10px red) 
          drop-shadow(0px 0px 20px red);
}

#Nav ul{
  display: flex;
}

#Nav ul li{
  list-style: none;
  margin-left: 40px;
}

#Nav ul li a{
  font-weight: 500;
  transition: 0.5s;
}

#Nav ul li:hover a{
  color: red;
}

#Nav ul li.active a{
  color: red;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

/* Outer Circle with Gradient */
.home-img .img-box {
  position: relative;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  padding: 5px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Gradient Ring */
.home-img .img-box::before,
 .home-img .img-box::after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient( transparent , transparent , red );
  animation: rotate 6s linear infinite;
  z-index: -1;
}

/* Image Wrapper */
.home-img .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0a0a0a; /* You can change this */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image Styling */
.home-img .img-item img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  position: relative;
 image-resolution: 1080;
  top: 10px;
   image-rendering: auto; 
}
.img-item{
  image-rendering: auto;            /* Default */
  image-rendering: crisp-edges;     /* For pixelated images */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .home-img .img-box {
    width: 65vw;
    height: 65vw;
  }
}
/* Small screens (phones) */
@media screen and (max-width: 600px) {
  .home-img .img-box {
    width: 65vw;
    height: 65vw;
    
  }
 #img-block{
  gap: 40px;
 }
}